$transparent-gray: #cbcbcb;
$light-gray:#9fa0a4;
$gray: #626469;
$anthracite-gray: #666666;
$light-shadow: #ebebec;
$mercury: #e7e6e6;
$black: #333333;
$shadow-black: rgba(51, 51, 51, 0.14);
$transparent-black: rgba(51, 51, 51, 0.1);
$accent: #3dcd58;
$white: #ffffff;
$light-blue: #42b4e6;
$alabaster: #fafafa;
$disable-light: #fafafa;
$disable-dark: #e7e6e6;
$error-red: #c20241;
