$fallback-font-family: Arial, sans-serif;

$font-heading-size: 40px;
$font-heading-3-size: 30px;
$font-extra-large-size: 18px;
$font-large-size: 16px;
$font-medium-size: 14px;
$font-small-size: 12px;
