h1 {
  display: flex;
  justify-content: center;
  align-self: start;
  align-items: center;
  transition: all .3s;
  @media screen and (max-width: 980){
    font-size: 16px;
  }
  @media screen and (max-width: 780){
    font-size: 16px;
  }
  @media screen and (max-width: 880){
    font-size: 16px;
  }
}